body {
  background-color: #F8F9F9;
}

.card-color {
  background-color: #D6EAF8;
}

.page-title {
  text-align: center;
}

.header-brand-img {
  width: 45px;
}

.fixed-top {
  background-color: white;
}

.class-form {
  margin: 2% 20%;
}

.image-topic {
  height: 120px;
  width: 200px;
}

