.layout-identification {
  margin: 10% 12% 0% 20%;
}

.page-title {
  text-align: center;
}

.class-form {
  margin: 2% 20%;
}

.btn-outline-secondary {
  margin-left: 88%;
}

.card-color {
  background-color: #D6EAF8;
}

